帳票一覧

<ul>
  {{#each}}
    <li>
      #{{id}}:
      {{createdAt}}
      {{#link-to 'sheet' this}}
        詳細を見る
      {{/link-to}}
      <a href="#" {{action 'deleteSheet' this}}>削除</a>
    </li>
  {{/each}}
</ul>
